@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Delius+Unicase:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
.space_between {
  margin-top: 80px;
}
header {
  background-color: #6f6af7;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  color: #fff;
  font-family: Delius Unicase;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
}
.links a {
  padding-right: 30px;
  text-decoration: none;
  color: #fff;
  font-family: DM Sans;
  font-size: 22px;
  cursor: pointer;
}
.vector img {
  width: 15px;
  height: 7px;
  position: absolute;
  top: 30px;
}
.search input {
  width: 20vw;
  height: 6vh;
  padding: 10px 20px;
  border-radius: 60px;
  border: none;
  position: relative;
  text-decoration: none;
}
input {
  font-size: 18px;
  color: #9f9f9f;
}
.search button {
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: 200px;
  border: none;
  cursor: pointer;
}
.vector_2 img {
  width: 30px;
  cursor: pointer;
}
main {
  display: flex;
  padding: 0 0 0 5%;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
  font-family: DM Sans;
  position: relative;
  overflow-y: auto;
}
.main {
  width: 93%;
}
.hero {
  display: flex;
  justify-content: space-between;
}
.hero img {
  height: 50vh;
  margin-right: 50px;
}
.hero_text {
  width: 100%;
  padding: 25px;
  border-radius: 20px;
  border: 6px solid #fff;
  background: #e5d8ff;
  box-shadow: 3px 5px 27px 10px rgba(0, 0, 0, 0.25) inset;
}
.hero_text p {
  color: #6f7373;
  font-size: 25px;
  line-height: 150%;
}
.whatapp {
  position: relative;
}
.whatapp img{
  mix-blend-mode: darken;
}
.whatapp_logo {
  position: absolute;
  top: 0px;
  right: 0px;
}
.social {
  position: sticky;
  display: flex;
  flex-direction: column;
  height: 90%;
  top: 140px;
  cursor: pointer;
}
.social img {
  width: 70px;
  float: right;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 20vw;
  height: 15vh;
  border-radius: 11px;
  background: #929dff;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.card_text {
  padding: 0px 20px;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1.16px;
}
.card_price {
  padding: 0px 20px;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1.12px;
}
.card_2 {
  background-color: #734cf2;
}
.card_3 {
  background-color: #d288ff;
}
.card_4 {
  background-color: #000000;
}
.information {
  height: 72vh;
  border-radius: 21px;
  background: #483eff;
  display: flex;
  justify-content: space-between;
  margin: 120px 0px;
}

.information_left {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information_1 {
  background: #bce0f6;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
  color: #000;
}
.information_spacing {
  margin: 20px 50px;
  width: 25vw;
  height: 14vh;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.4px;
  cursor: pointer;
}
.information_2 {
  border: 5px solid #fff;
  background: #483eff;
  color: #fff;
}
.information_right {
  margin: 20px 50px;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  width: 80vw;
}
.information_right h2 {
  margin-bottom: 20px;
  color: #04285a;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
}
.infos {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  color: #143565;
  width: 17vw;
  line-height: 45px;
}
.information_question {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.5px;
}
.information_answer {
  font-size: 18px;
  font-weight: 400;
}
.colon {
  font-weight: 900;
}
.button img{
  width: 35px;
}
.button button {
  margin-top: 90px;
  padding: 10px 25px 12px 20px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.5px;
  border-radius: 7px;
  background-color: #000;
  float: right;
  cursor: pointer;
}

.help_support {
  float: right;
  position: fixed;
  bottom: -40px;
  right: 66px;
  cursor: pointer;
}
.help_support img{
  width: 10vw;
}
